<?xml version='1.0' encoding='utf-8'?>
<widget id="com.blastis.livechat" ios-CFBundleVersion="1.0.0" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Live Chat</name>
    <description>
        Live Chat is a mobile app that allows you to chat with your web site visitors in real time.
    </description>
    <author email="dave@blastis.com" href="http://www.blastis.com">
        Blastis Corp
    </author>
    <content src="index.html" />
    <preference name="phonegap-version" value="cli-7.1.0" />
    <preference name="orientation" value="portrait" />
    <preference name="fullScreen" value="true" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="target-device" value="universal" />
    <preference name="prerendered-icon" value="false" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarBackgroundColor" value="#622F53" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="android-minSdkVersion" value="18" />
    <preference name="android-installLocation" value="auto" />
    <preference name="AndroidLaunchMode" value="singleInstance" />
    <preference name="SplashScreenDelay" value="3000" />
    <icon src="www/icon.png" />
    <icon gap:density="ldpi" gap:platform="android" src="res/icon/android/36.png" />
    <icon gap:density="mdpi" gap:platform="android" src="res/icon/android/48.png" />
    <icon gap:density="hdpi" gap:platform="android" src="res/icon/android/72.png" />
    <icon gap:density="xhdpi" gap:platform="android" src="res/icon/android/96.png" />
    <icon gap:density="xxhdpi" gap:platform="android" src="res/icon/android/144.png" />
    <icon gap:density="xxxhdpi" gap:platform="android" src="res/icon/android/192.png" />
    <icon gap:platform="ios" height="57" src="res/icon/ios/57.png" width="57" />
    <icon gap:platform="ios" height="72" src="res/icon/ios/72.png" width="72" />
    <icon gap:platform="ios" height="114" src="res/icon/ios/57-2x.png" width="114" />
    <icon gap:platform="ios" height="144" src="res/icon/ios/72-2x.png" width="144" />
    <icon gap:platform="ios" height="120" src="res/icon/ios/120.png" width="120" />
    <icon gap:platform="ios" height="76" src="res/icon/ios/ipad76.png" width="76" />
    <icon gap:platform="ios" height="152" src="res/icon/ios/ipad76-2x.png" width="152" />
    <gap:splash gap:density="ldpi" gap:platform="android" src="res/screen/android/screen-ldpi-portrait.png" />
    <gap:splash gap:density="mdpi" gap:platform="android" src="res/screen/android/screen-mdpi-portrait.png" />
    <gap:splash gap:density="hdpi" gap:platform="android" src="res/screen/android/screen-hdpi-portrait.png" />
    <gap:splash gap:density="xhdpi" gap:platform="android" src="res/screen/android/screen-xhdpi-portrait.png" />
    <gap:splash gap:platform="ios" height="480" src="res/screen/ios/screen-iphone-portrait.png" width="320" />
    <gap:splash gap:platform="ios" height="960" src="res/screen/ios/screen-iphone-portrait-2x.png" width="640" />
    <gap:splash gap:platform="ios" height="1024" src="res/screen/ios/screen-ipad-portrait.png" width="768" />
    <gap:splash gap:platform="ios" height="768" src="res/screen/ios/screen-ipad-landscape.png" width="1024" />
    <gap:splash gap:platform="ios" height="1136" src="res/screen/ios/screen-iphone-portrait-568h-2x.png" width="640" />
    <platform name="browser">
        <preference name="SplashScreen" value="www/splash.png" />
        <preference name="ShowSplashScreen" value="false" />
    </platform>
    <platform name="android">
        <resource-file src="google-services.json" target="google-services.json" />
        <icon density="ldpi" qualifier="ldpi" src="www/res/icon/android/icon-36-ldpi.png" />
        <icon density="mdpi" qualifier="mdpi" src="www/res/icon/android/icon-48-mdpi.png" />
        <icon density="hdpi" qualifier="hdpi" src="www/res/icon/android/icon-72-hdpi.png" />
        <icon density="xhdpi" qualifier="xhdpi" src="www/res/icon/android/icon-96-xhdpi.png" />
        <icon density="xxhdpi" qualifier="xxhdpi" src="www/res/icon/android/icon-144-xxhdpi.png" />
        <icon density="xxxhdpi" qualifier="xxxhdpi" src="www/res/icon/android/icon-192-xxxhdpi.png" />
        <splash qualifier="ldpi" src="www/res/screen/android/screen-ldpi-portrait.png" />
        <splash qualifier="mdpi" src="www/res/screen/android/screen-mdpi-portrait.png" />
        <splash qualifier="hdpi" src="www/res/screen/android/screen-hdpi-portrait.png" />
        <splash qualifier="xhdpi" src="www/res/screen/android/screen-xhdpi-portrait.png" />
        <splash qualifier="xxhdpi" src="www/res/screen/android/screen-xxhdpi-portrait.png" />
        <splash qualifier="xxxhdpi" src="www/res/screen/android/screen-xxxhdpi-portrait.png" />
    </platform>
    <platform name="ios">
        <resource-file src="GoogleService-Info.plist" />
        <icon height="57" src="www/res/icon/ios/icon.png" width="57" />
        <icon height="114" src="www/res/icon/ios/icon@2x.png" width="114" />
        <icon height="29" src="www/res/icon/ios/icon-small.png" width="29" />
        <icon height="58" src="www/res/icon/ios/icon-small@2x.png" width="58" />
        <icon height="87" src="www/res/icon/ios/icon-small@3x.png" width="87" />
        <icon height="40" src="www/res/icon/ios/icon-small-40.png" width="40" />
        <icon height="80" src="www/res/icon/ios/icon-small-40@2x.png" width="80" />
        <icon height="120" src="www/res/icon/ios/icon-small-40@3x.png" width="120" />
        <icon height="50" src="www/res/icon/ios/icon-50.png" width="50" />
        <icon height="100" src="www/res/icon/ios/icon-50@2x.png" width="100" />
        <icon height="60" src="www/res/icon/ios/icon-60.png" width="60" />
        <icon height="120" src="www/res/icon/ios/icon-60@2x.png" width="120" />
        <icon height="180" src="www/res/icon/ios/icon-60@3x.png" width="180" />
        <icon height="70" src="www/res/icon/ios/icon-70.png" width="70" />
        <icon height="140" src="www/res/icon/ios/icon-70@2x.png" width="140" />
        <icon height="72" src="www/res/icon/ios/icon-72.png" width="72" />
        <icon height="144" src="www/res/icon/ios/icon-72@2x.png" width="144" />
        <icon height="76" src="www/res/icon/ios/icon-76.png" width="76" />
        <icon height="152" src="www/res/icon/ios/icon-76@2x.png" width="152" />
        <icon height="167" src="www/res/icon/ios/icon-83.5@2x.png" width="167" />
        <splash height="1024" src="www/res/screen/ios/screen-ipad-portrait.png" width="768" />
        <splash height="2008" src="www/res/screen/ios/screen-ipad-portrait-2x.png" width="1536" />
        <splash height="480" src="www/res/screen/ios/screen-iphone-portrait.png" width="320" />
        <splash height="960" src="www/res/screen/ios/screen-iphone-portrait-2x.png" width="640" />
        <splash height="1136" src="www/res/screen/ios/screen-iphone-portrait-568h-2x.png" width="640" />
        <splash height="1334" src="www/res/screen/ios/screen-iphone-portrait-667h.png" width="750" />
        <splash height="2208" src="www/res/screen/ios/screen-iphone-portrait-736h.png" width="1242" />
        <splash height="750" src="www/res/screen/ios/screen-iphone-landscape-667h.png" width="1334" />
        <splash height="1242" src="www/res/screen/ios/screen-iphone-landscape-736h.png" width="2208" />
    </platform>
    <access origin="*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-navigation href="data:*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="browser" spec="5.0.1" />
    <plugin name="cordova-plugin-device" spec="1.1.7" />
    <plugin name="cordova-plugin-dialogs" spec="1.3.4" />
    <plugin name="cordova-plugin-file" spec="4.3.3" />
    <plugin name="cordova-plugin-globalization" spec="1.0.8" />
    <plugin name="cordova-plugin-inappbrowser" spec="1.7.2" />
    <plugin name="cordova-plugin-media" spec="3.0.1" />
    <plugin name="cordova-plugin-network-information" spec="1.3.4" />
    <plugin name="cordova-plugin-splashscreen" spec="4.1.0" />
    <plugin name="cordova-plugin-statusbar" spec="2.3.0" />
    <plugin name="cordova-plugin-vibration" spec="2.1.6" />
    <plugin name="cordova-plugin-whitelist" spec="1.3.3" />
    <plugin name="phonegap-plugin-push" spec="2.0.0" />
</widget>
